name: Test
on:
  pull_request:
    branches:
      - master
  schedule:
    # Run regularly so we know if some upstream dependencies break.
    - cron: '0 12 * * 1-5'

jobs:
  compile:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        command:
          - test-cloudscale
          - test-exoscale
    steps:
      - uses: actions/checkout@v3
      - name: Run ${{ matrix.command }}
        run: make ${{ matrix.command }}
